spring:
  datasource:
    url: ${SPRING_DATASOURCE_URL}
    username: ${SPRING_DATASOURCE_USERNAME}
    password: ${SPRING_DATASOURCE_PASSWORD}
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: false
    properties:
      hibernate:
        format_sql: true
    database: postgresql
    database-platform: org.hibernate.dialect.PostgreSQLDialect

# Log su file e livello di log per com.ticketblock
logging:
  file:
    name: backend/logs/ticketblock.log
  level:
    com:
      ticketblock: DEBUG

blockchain:
  contract-address: ${CONTRACT_ADDRESS}
  private-key: ${PRIVATE_KEY}
  ganache-url: ${GANACHE_URL}




